<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207091787672-pio2p806gqt25vbtmjvu3tgc6ev6d4oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207091787672-pio2p806gqt25vbtmjvu3tgc6ev6d4oe</string>
	<key>API_KEY</key>
	<string>AIzaSyDAav7DThhL-AlL14RWyXaoADKRat3LhVI</string>
	<key>GCM_SENDER_ID</key>
	<string>207091787672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackpitch.InstagramUI</string>
	<key>PROJECT_ID</key>
	<string>instagramui-379fd</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramui-379fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207091787672:ios:685a3bf3a85a3754eaeded</string>
	<key>DATABASE_URL</key>
	<string>https://instagramui-379fd.firebaseio.com</string>
</dict>
</plist>